html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
}

.full-height-container,
.full-height-row,
.full-height-col {
  height: 100%;
}

.full-height-row {
  margin-bottom: 0;
}

.modal {
  top: 50% !important;
  transform: scale(1) translateY(-50%) !important;
}

.lean-overlay {
  top: 0 !important;
}

.field {
  width: 252px;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;
}

.field__cels {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 60px;
  text-align: center;
  line-height: 70px;
  text-align: center;
  color: #555;
  box-shadow: 0 0 5px #f5786f;
  transition: all 1s;
  cursor: default;
  opacity: .2;
}

.field__cels:nth-child(3n) {
  margin-right: 0;
}
.field__cels:nth-child(7),
.field__cels:nth-child(8),
.field__cels:nth-child(9) {
  margin-bottom: 0;
}

.field__cels.no-marked {
  opacity: 1;
  cursor: pointer;
}

/* .field__cels.no-marked:hover {
  position: relative;
  box-shadow: 0 0 44px #de584e;
  transition: all .2s;
}
 */
.game {
  display: table;
  width: 100%;
  height: 100%;
}

.settings {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.settings .btn,
.settings .dropdown-button {
  margin-bottom: 10px;
}

.settings .dropdown-content a {
  color: #F44336;
}

.game-popup {
  width: 90%;
  max-width: 420px;
  max-height: 100% !important;
}

.users {
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 0;
}

.users__item {
  display: inline-block;
  width: 50%;
  font-size: 24px;
  text-align: center;
}

.users__item span {
  display: block;
  padding: 10px 0;
  border-top: 2px solid #000;
}

.users__item:nth-child(2) {
  border-left: 2px solid #000;
}
.users__total-games,
.users__dead-heat {
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.users__dead-heat {
  margin-top: 0;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .users {
    float: right;
    margin: 0;
  }

  .field {
    float: left;
  }

  .field__cels.no-marked:hover {
    position: relative;
    box-shadow: 0 0 10px #de584e;
    transition: all .3s;
  }
}
